<div class="container">

  <h1>Ejercicio Angular xAcademy</h1>
  
  <table *ngIf="mostrar" class="mat-elevation-z8">
    
      <thead>
        <th >Nombre</th>
        <th >Costo</th>
        
      </thead>
    
    <tbody>
      <tr *ngFor="let producto of listProductos">
        <td >{{producto.nombre}}</td>
        <td >${{producto.costo}}</td>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button color="primary" (click)="modificarVisibilidad()">
    {{mostrar?'Ocultar':'Mostrar'}} datos
  </button>


</div>





